
// Splash Screen 
.splash-screen-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: yellow;
    align-items: center;
    justify-content: center;
    transition: .4s ease-in-out all;
    img{
        max-width: 60px;
        width: 100%;
    }
    span {
        height: 0px;
        width: 0px;
        font-size: 0px;
        font-weight: bold;
        transition: .3s ease-in-out all;
    }
    &.scrolled {
        background-color: #fff;
        img{ 
            max-width: 35px;
            margin-bottom: 5px;
        }
        span {
            height: auto;
            width: auto;
            font-size: 22px;
        }
    }
}

// Internal Pages design

.page-slides {
    position: absolute;
    width: 100%;
    height: 100%;
    right: -100%;
    transition: .3s ease-in-out;
    background-color: #fff;
    top: 0; 
    &.visible {
        right: 0;
    }

    // Page Section Design
    .swiper-slide {
        .main-banner {
            min-height: 50vh;
            background-size: cover;
            background-position: center;
        }
        .under-banner-text {
            display: flex;
            height: 100%;
            flex-direction: column;
            padding: 50px 23px;
            .highlighter {
                background: linear-gradient(to right, rgba(255,255,255,0) 50%, rgba(255, 222, 61,1.0) 50%);
                background-size: 200%;
                background-position: 0 0;
                padding: 0 6px;
                transition: .60s ease-out;
                &.isActive {
                    background-position: -100% 0;
                }
            }
        }
    }

    // Footer Section design
    footer {
        width: 100%;
        position: absolute;
        bottom: 0px;
        background-color: #fff;
        z-index: 9;
        height: 50px;
        display: flex;
        align-items: center;
        .skip-link {
            position: absolute;
            z-index: 19;
            left: 10px;
            a {
                font-size: 14px;
                color: #7d7d7d;
            }
        }
        .page-link {
            width: 100%;
            display: inline-block;
            text-align: center;
            ul {
                margin: 0px;
                width: 100%;
                display: inline-block;
                text-align: center;
                padding: 0px;
                li {
                    list-style: none;
                    display: inline-block;                
                    a {
                        height: 7px;
                        width: 7px;
                        background: grey;
                        display: inline-block;
                        border-radius: 50%;
                    }
                }
            }
        }
    }
}